@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.main{
    width: 700px;
    margin: 20px;
    border-radius: 25px;
    background-image: linear-gradient(to bottom right, rgb(95, 116, 206), rgb(54, 55, 112));
    font-family: 'Poppins', sans-serif;
}

.top{
    height: 60px;
    background-image: linear-gradient(to bottom right, rgb(36, 36, 39), rgb(102, 102, 102));
    color: whitesmoke;
    padding: 10px;
    border-radius: 20px 20px 0 0;
    display: flex;
    justify-content: space-between;
}

.header{
    color: whitesmoke;
    margin: 10px 0px 0px 10px;
    font-size: 25px;
    border-radius: 20px 20px 0 0;
}

.day{
    padding: 15px;
    color: whitesmoke;
    font-size: 24px;
    font-weight: 600;
}

.temp{
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    color: whitesmoke;
    font-size: 18px;
}

.flex{
    display: flex;
    justify-content: space-between;
}

.hi-lo{
    display: flex;
    padding-left: 45px;
    padding-bottom: 25px;
    color: whitesmoke;
    font-size: 16px;
}

.sunrise-sunset{
    padding: 15px;
    color: whitesmoke;
    font-size: 16px;
}

.description{
    padding: 15px;
    color: whitesmoke;
    font-size: 24px;
    font-weight: 600;
}

.button{
  width: 35px;
  height: 35px;
}
